.git
.gitignore
.github/*
.gitattributes
.git-blame-ignore-revs
.env
.env.*
.secrets/
.idea/
.venv/
.uv-cache/
__pycache__/
*.py[cod]
*.sqlite*
*.db
.pytest_cache
.mypy_cache
.ruff_cache
build/
dist/
tests/*
README/
bin/
theHarvester-logo.png
theHarvester-logo.webp
CHANGELOG.md
